[submodule "extern/perfmon"]
	path = extern/perfmon
	url = https://github.com/intel/perfmon.git
[submodule "extern/data"]
	path = extern/data
	url = https://github.com/ARM-software/data.git
[submodule "extern/telemetry-solution"]
	path = extern/telemetry-solution
	url = https://git.gitlab.arm.com/telemetry-solution/telemetry-solution.git
